@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Work Sans", sans-serif;
}

/* shared styles */
.display_flex {
    display: flex;
}
.text_center{
    text-align: center;
}
.bg_light {
    background-color: rgba(255, 144, 14, 0.1);
}
.btn_explore{
width: 180px;
height: 64px;
border-radius: 8px;
border: none;
background: rgb(255, 144, 14);
color: rgb(255, 255, 255);
font-family: Work Sans;
font-size: 1.25rem;
font-weight: 600;
}

header{
    margin: 0 auto;
}
/* navbar styles */
.navbar {
    justify-content: space-between;
    align-items: center;
}
.brand {
    color: rgb(19, 19, 19);
    font-size: 2.8125rem;
    font-weight: 700;
}
.nav_links {

}
.nav_item {
    list-style: none;
    margin-right: 26px;
}
.nav_link {
    text-decoration: none;
    color: rgb(66, 66, 66);
    font-size: 1.125rem;
    font-weight: 500;
}
.navbar,
.banner {
    max-width: 1440px;
    margin: 0 auto;
}
/* banner styles */
.banner_content{
    max-width: 862px;
    height: auto;
    margin-left: 301px;
    margin-right: 289px;
    margin-top: 57px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 50px;
}
.banner_title{
    color: rgb(19, 19, 19);
font-size: 4rem;
font-weight: 700;
}
.banner_para{
    color: rgb(114, 114, 114);
font-family: Work Sans;
font-size: 1rem;
font-weight: 400;
}
.banner_img{
    width: 100%;
}

@media screen and (max-width:576px) {
    .navbar, .nav_links{
        flex-direction: column;
    }
}